html{
    margin: 0;
    padding: 0;
    font-family: r;
    
}
.burner{
    background-image: url("images/image2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    
    
}
.container{
    padding: -100px;
    margin: auto;
    margin: top -150px;;
    
}
.container::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    color: darkgoldenrod;
    padding-left: 55px;
}
nav{
    float: right;
   font-weight: bolder;
    font-size: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
   
    
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: crimson;
}
button{
   background-color: darkgoldenrod;
  
}
.premium{
    color: white;
    font-size: 50px;
    padding: 55px;
   
}

#order{
    font-size: 30px;
    padding: 10px;
    margin-left: 55px;
    
    
}
.services .intro{
    
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-style: italic;
}
.services .icons{
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 40px;
    padding: 50px;
    font-weight: lighter;
    position: relative;
    margin: 0px 50px;
   
}
.services .icons button{
    border-radius: 50%;
    padding: 25px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 1px;
    
}




#b1{
    background-color: violet;
   
}

.services .icons p{
    font-size: 20px;
    font-style: italic;

 
}

.reviews{
    display: flex;
    background-color: black;
}
.reviews .img2{
    float: left;
}

.reviews  .organic{
    float: right;
    width: 50%;
    font-size: 50px;
    text-align: center;
    padding-left: 20px;
    color: white;
   
}

.reviews  .organic p{
    font-style: italic;
    line-height: 30px;
    font-size: 30px;
    padding: 50px;
}

.reviews  .organic h1{
    text-decoration-line: underline;
    text-underline-offset: centre ;
}

.Rmenu{
    padding: 80px;
  
}
 
 .Rmenu .menu{
    text-align: center;
}

.Rmenu .food{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer{
    text-align: center;
    font-size: 50px;
    color: white;
    background-image: url("images/image8.png") ;
  
}
.footer button{
    padding: 20px ;
}