html{
    margin: 0;
    padding: 0;
    font-family: r;
    
}
.burner{
    background-image: url("images/image2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    
    
}
.container{
    padding: -100px;
    margin: auto;
    margin: top -150px;;
    
}
.container::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    color: darkgoldenrod;
    padding-left: 55px;
}
nav{
    float: right;
   font-weight: bolder;
    font-size: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
   
    
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: crimson;
}
button{
   background-color: darkgoldenrod;
  
}
.premium{
    color: white;
    font-size: 50px;
    padding: 55px;
   
}

#order{
    font-size: 30px;
    padding: 10px;
    margin-left: 55px;
    
    
}

.services{
    background-color: rgb(211,211,211)
}


.services .intro{
    
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-style: italic;
    margin: 0px 180px;
}
.services .icons{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 40px;
    padding: 50px;
    font-weight: lighter;
  
    margin: 0px 70px;
   
}
.services .icons button{
    border-radius: 50%;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    border: unset;
    top: 1px;
    
}

.services .icons #one{
    border: unset;
    text-align: center;
    background-color: white;
    padding: 50px;
}

.services .icons #two{
    border: unset;
    text-align: center;
    background-color: white;
    padding: 50px;
}


.services .icons #three{
    border: unset;
    text-align: center;
    background-color: white;
    padding: 50px;

}




.services .icons p{
    font-size: 20px;
    font-style: italic;

 
}

.reviews{
    display: flex;
    background-color: black;
}
.reviews .img2{
    float: left;
}

.reviews  .organic{
    float: right;
    width: 50%;
    font-size: 50px;
    text-align: center;
    padding-left: 20px;
    color: white;
   
}

.reviews  .organic p{
    font-style: italic;
    line-height: 30px;
    font-size: 30px;
    padding: 50px;
}

.reviews  .organic h1{
    text-decoration-line: underline;
    text-underline-offset: centre ;
}

.Rmenu{
    padding: 0px;
    
  
}
 
 .Rmenu .menu{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-style: italic;
    margin: 0px 180px;
}

.Rmenu .food1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 30px;
   
   
    margin-left: 9%;
}

.Rmenu .food2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 30px;
   
    margin-left: 9%;
}

.Rmenu .food1 #chapati{
    
    display: flex;
   
    text-align: center;
  
    padding: 25px ;
   
    
 
}

.Rmenu .food1 #beef{
   
    display: flex;
   
    text-align: center;
 
    padding: 25px;
    
    
}

.Rmenu .food2 #chicken{
    
    display: flex;
   
    text-align: center;
    
    padding: 25px;
}

.Rmenu .food2 #rice{
    
    display: flex;
   
    text-align: center;
  
    padding: 25px;
}

.Rmenu .food1 img{
    
    padding: 35px;
    background-color: white;
    
}

.Rmenu .food2 img{
    
    padding: 35px;
    background-color: white;
}

.Rmenu  p{
    font-style: italic;
  
}


.Rmenu  H4{
    color: #F19201;
}

#price1{
    background-color: white;
    padding: 30px;
}
#price2{
    background-color: white;
    padding: 30px;
}
#price3{
    background-color: white;
    padding: 30px;
}
#price4{
    background-color: white;
    padding: 30px;
}



.footer{
    text-align: center;
    font-size: 50px;
    color: white;
    background-image: url("images/image8.png") ;
  
}
.footer button{
    padding: 20px ;
}