html{
    margin: 0;
    padding: 0;
    
}
.burner{
    background-image: url("images/image2.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
    
    
}
.container{
    padding: -100px;
    margin: auto;
    margin: top -150px;;
    
}
.container::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    color: darkgoldenrod;
    padding-left: 55px;
}
nav{
    float: right;
   font-weight: bolder;
    font-size: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
   
    
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: crimson;
}
button{
   background-color: darkgoldenrod;
  
}
.premium{
    color: white;
    font-size: 50px;
    padding: 55px;
    padd
}
#order{
    font-size: 30px;
    padding: 10px;
    margin-left: 55px;
    
    
}



 